In [10]:
# IMPORTS
import numpy as np
import pandas as pd

In [3]:
no_of_hours = np.array([160, 150, 80, 95, 60, 40])
hourly_rate = np.array([30, 35, 40, 40, 45, 50])

In [6]:
print('Total amount: $', sum(no_of_hours * hourly_rate))

Total amount: $ 21750

In [7]:
# USING DOT PRODUCT

volume = np.array([0.3, 0.2, 0.25])
content = np.array([0.6, 0.7, 1])

print(np.dot(volume, content))

0.5700000000000001

In [9]:
# MATRIX MULTIPLICATION OPERATOR
print(volume @ content)

0.5700000000000001

This application of the dot product is essential for distance-based machine learning algorithms.

In [11]:
store1_price = [
    209.9,
    119.9,
    53.9,
    31.9,
    19.9,
    109.9,
    59.99,
    22.9,
    81.11,
    32.9,
]
store1_quantity = [19, 11, 8, 15, 23, 7, 14, 9, 10, 4]

store2_price = [209.9, 124.9, 42.9, 27.9, 23.9, 109.9, 49.9, 24.9, 89.9, 32.9]
store2_quantity = [10, 16, 20, 9, 18, 12, 10, 11, 18, 22]

models = [
    'Apple AirPods Pro',
    'Apple AirPods MV7N2RU/A',
    'JBL Tune 120TWS',
    'JBL TUNE 500BT',
    'JBL JR300BT',
    'Huawei Freebuds 3',
    'Philips TWS SHB2505',
    'Sony WH-CH500',
    'Sony WF-SP700N',
    'Sony WI-XB400',
]

item_1 = pd.DataFrame(
    {'Price': store1_price, 'Quantity': store1_quantity},
    index=models
)
item_2 = pd.DataFrame(
    {'Price': store2_price, 'Quantity': store2_quantity},
    index=models
)

print('Store 1\n', item_1, '\n')
print('Store 2\n', item_2)

Store 1
                           Price  Quantity
Apple AirPods Pro        209.90        19
Apple AirPods MV7N2RU/A  119.90        11
JBL Tune 120TWS           53.90         8
JBL TUNE 500BT            31.90        15
JBL JR300BT               19.90        23
Huawei Freebuds 3        109.90         7
Philips TWS SHB2505       59.99        14
Sony WH-CH500             22.90         9
Sony WF-SP700N            81.11        10
Sony WI-XB400             32.90         4

Store 2
                          Price  Quantity
Apple AirPods Pro        209.9        10
Apple AirPods MV7N2RU/A  124.9        16
JBL Tune 120TWS           42.9        20
JBL TUNE 500BT            27.9         9
JBL JR300BT               23.9        18
Huawei Freebuds 3        109.9        12
Philips TWS SHB2505       49.9        10
Sony WH-CH500             24.9        11
Sony WF-SP700N            89.9        18
Sony WI-XB400             32.9        22

In [12]:
items1_price = item_1['Price'].values # < write code here >
items1_quantity = item_1['Quantity'].values # < write code here >
items2_price = item_2['Price'].values # < write code here >
items2_quantity = item_2['Quantity'].values # < write code here >

# value of items for store 1
items1_value = items1_price @ items1_quantity# < write code here >

# value of items for store 2
items2_value = items2_price @ items2_quantity # < write code here >

total_value = items1_value + items2_value# < write code here >

print('Total value of the items of the two stores:', total_value, 'USD')

Total value of the items of the two stores: 19502.760000000002 USD