In [23]:
# IMPORTS
import numpy as np
import pandas as pd
from scipy.spatial import distance

In [3]:
no_of_hours = np.array([160, 150, 80, 95, 60, 40])
hourly_rate = np.array([30, 35, 40, 40, 45, 50])

In [6]:
print('Total amount: $', sum(no_of_hours * hourly_rate))

Total amount: $ 21750

In [7]:
# USING DOT PRODUCT

volume = np.array([0.3, 0.2, 0.25])
content = np.array([0.6, 0.7, 1])

print(np.dot(volume, content))

0.5700000000000001

In [9]:
# MATRIX MULTIPLICATION OPERATOR
print(volume @ content)

0.5700000000000001

This application of the dot product is essential for distance-based machine learning algorithms.

In [11]:
store1_price = [
    209.9,
    119.9,
    53.9,
    31.9,
    19.9,
    109.9,
    59.99,
    22.9,
    81.11,
    32.9,
]
store1_quantity = [19, 11, 8, 15, 23, 7, 14, 9, 10, 4]

store2_price = [209.9, 124.9, 42.9, 27.9, 23.9, 109.9, 49.9, 24.9, 89.9, 32.9]
store2_quantity = [10, 16, 20, 9, 18, 12, 10, 11, 18, 22]

models = [
    'Apple AirPods Pro',
    'Apple AirPods MV7N2RU/A',
    'JBL Tune 120TWS',
    'JBL TUNE 500BT',
    'JBL JR300BT',
    'Huawei Freebuds 3',
    'Philips TWS SHB2505',
    'Sony WH-CH500',
    'Sony WF-SP700N',
    'Sony WI-XB400',
]

item_1 = pd.DataFrame(
    {'Price': store1_price, 'Quantity': store1_quantity},
    index=models
)
item_2 = pd.DataFrame(
    {'Price': store2_price, 'Quantity': store2_quantity},
    index=models
)

print('Store 1\n', item_1, '\n')
print('Store 2\n', item_2)

Store 1
                           Price  Quantity
Apple AirPods Pro        209.90        19
Apple AirPods MV7N2RU/A  119.90        11
JBL Tune 120TWS           53.90         8
JBL TUNE 500BT            31.90        15
JBL JR300BT               19.90        23
Huawei Freebuds 3        109.90         7
Philips TWS SHB2505       59.99        14
Sony WH-CH500             22.90         9
Sony WF-SP700N            81.11        10
Sony WI-XB400             32.90         4

Store 2
                          Price  Quantity
Apple AirPods Pro        209.9        10
Apple AirPods MV7N2RU/A  124.9        16
JBL Tune 120TWS           42.9        20
JBL TUNE 500BT            27.9         9
JBL JR300BT               23.9        18
Huawei Freebuds 3        109.9        12
Philips TWS SHB2505       49.9        10
Sony WH-CH500             24.9        11
Sony WF-SP700N            89.9        18
Sony WI-XB400             32.9        22

In [12]:
items1_price = item_1['Price'].values # < write code here >
items1_quantity = item_1['Quantity'].values # < write code here >
items2_price = item_2['Price'].values # < write code here >
items2_quantity = item_2['Quantity'].values # < write code here >

# value of items for store 1
items1_value = items1_price @ items1_quantity# < write code here >

# value of items for store 2
items2_value = items2_price @ items2_quantity # < write code here >

total_value = items1_value + items2_value# < write code here >

print('Total value of the items of the two stores:', total_value, 'USD')

Total value of the items of the two stores: 19502.760000000002 USD

In [25]:
#EUCLIDEAN DISTANCE

x_axis = np.array([0., 0.18078584, 9.32526599, 17.09628721,
                      4.69820241, 11.57529305, 11.31769349, 14.63378951])

y_axis  = np.array([0.0, 7.03050245, 9.06193657, 0.1718145,
                      5.1383203, 0.11069032, 3.27703365, 5.36870287])

deliveries = np.array([5, 7, 4, 3, 5, 2, 1, 1])

town = [
    'Willowford',
    'Otter Creek',
    'Springfield',
    'Arlingport',
    'Spadewood',
    'Goldvale',
    'Bison Flats',
    'Bison Hills',
]

data = pd.DataFrame(
    {
        'x_coordinates_km': x_axis,
        'y_coordinates_km': y_axis,
        'Deliveries': deliveries,
    },
    index=town,
)

vectors = data[['x_coordinates_km', 'y_coordinates_km']].values
print(vectors)

distances = []
# < write code here >
for town_from in range(len(town)):
    row = []
    for town_in in range(len(town)):
        value = distance.euclidean(vectors[town_in], vectors[town_from])
        row.append(value)
    distances.append(row)

distances_df = pd.DataFrame(distances, index=town, columns=town)
print(distances_df)

[[ 0.          0.        ]
 [ 0.18078584  7.03050245]
 [ 9.32526599  9.06193657]
 [17.09628721  0.1718145 ]
 [ 4.69820241  5.1383203 ]
 [11.57529305  0.11069032]
 [11.31769349  3.27703365]
 [14.63378951  5.36870287]]
             Willowford  Otter Creek  Springfield  Arlingport  Spadewood  \
Willowford     0.000000     7.032826    13.003049   17.097151   6.962431
Otter Creek    7.032826     0.000000     9.367403   18.253103   4.897694
Springfield   13.003049     9.367403     0.000000   11.807753   6.066670
Arlingport    17.097151    18.253103    11.807753    0.000000  13.355848
Spadewood      6.962431     4.897694     6.066670   13.355848   0.000000
Goldvale      11.575822    13.331114     9.229704    5.521333   8.518887
Bison Flats   11.782578    11.752414     6.118404    6.560071   6.876194
Bison Hills   15.587520    14.548226     6.466869    5.750786   9.938258

              Goldvale  Bison Flats  Bison Hills
Willowford   11.575822    11.782578    15.587520
Otter Creek  13.331114    11.752414    14.548226
Springfield   9.229704     6.118404     6.466869
Arlingport    5.521333     6.560071     5.750786
Spadewood     8.518887     6.876194     9.938258
Goldvale      0.000000     3.176805     6.082853
Bison Flats   3.176805     0.000000     3.920660
Bison Hills   6.082853     3.920660     0.000000

In [26]:
deliveries_in_week = []
for i in range(len(town)):
    total_dist = 2 * np.dot(distances[i], deliveries)
    deliveries_in_week.append(total_dist)

deliveries_in_week_df = pd.DataFrame(
    {'Distance': deliveries_in_week}, index=town
)

print(deliveries_in_week_df)

               Distance
Willowford   475.734656
Otter Creek  409.688787
Springfield  454.776713
Arlingport   701.242510
Spadewood    334.564924
Goldvale     513.067627
Bison Flats  459.977717
Bison Hills  577.345345

In [27]:
best_town = deliveries_in_week_df['Distance'].idxmin()
print(best_town)

Spadewood